doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 日志
    link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/blog.css')
  body
    #container
      #blog_head
        a(href='')
          h3 levinhax's blog
      nav#navbar.navbar
        #menu_button
          span
          span
          span
        .clearfix
        ul#menu_list
          li
            a(href='/blog', title='') 首页
          li
            a(href='/blog/archives', title='') 归档
          li
            a(href='/blog/tags', title='') 标签
      // 文章内容区域
      #blog_archive
        p.list_header
          span.list_item_circle
          | 嗯...!目前共计
          span #{blogCounts}
          | 篇日志。继续努力
        for blog in blogs
          .list_item
            span.list_item_circle
            span.list_item_date.blog_date #{blog.articleDate}
            span.list_item_title
              a(href="/blog/details/" + blog.articleId, target='_blank') #{blog.articleTitle}
      // 底部
      footer
        p
          span#time_now
          |                   |  levinhax
    a#totop(href='javascript:;') ↑
    canvas#canvas
    script(src='/javascripts/getDate.js')
    script(src='/javascripts/bg_canvas2.js')
    script(src='/javascripts/toTop.js')
    script(src='/javascripts/formatTime.js')
    
    
