<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于 - 梁成军的个人网站</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<body>
    <!-- 导航栏 -->
        <nav class="navbar" id="navbar">
            <div class="nav-content">
                <div id="nav-header">
                    <a href="index.html">Levin</a>
                </div>
                <div id="menu-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="clearfix"></div>
                <ul id="menu-list">
                    <li><a href="/">首页</a></li>
                    <li><a href="/blog">日志</a></li>
                    <li><a href="/project">作品</a></li>
                    <li><a href="/photo">相册</a></li>
                    <li class="active"><a href="about.html">关于</a></li>
                </ul>
            </div>
        </nav>
        <!-- 导航栏 end -->
        
        <!-- resume section start -->
        <section class="resume-section">
            
            <div class="bg-line"></div>

            <div class="resume-header">
                <div class="avatar"><img src="/images/avatar.png"></div>
                <h2>梁成军</h2>
                <h4>levin</h4>
            </div>

            <div class="resume-title">
                <span>resume</span>
            </div>

            <div class="resume_item personal_data">
                <i class="fa fa_personal_data"></i>
                <h3>个人资料</h3>
                <div class="item_content">
                    <table>
                        <tbody>
                            <tr>
                                <th>姓名 : 梁成军</th>
                                <th>爱好 : 音乐、摄影、读书、慢跑、篮球</th>
                            </tr>
                            <tr>
                                <td>性别 : 男</td>
                                <td>年龄 : 22</td>
                            </tr>
                            <tr>
                                <td>电话 : 15022387010</td>
                                <td>邮箱 : levin1229@163.com</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="resume_item skills">
                <i class="fa fa_slills"></i>
                <h3>职业技能</h3>
                <div class="item_content">
                    <ul>
                        <li>
                            <span>HTML5</span> <progress title="80" value="80" max="100">
                        </li>
                        <li>
                            <span>CSS3</span> <progress title="75" value="75" max="100">
                        </li>
                        <li>
                            <span>JavaScript</span> <progress title="55" value="55" max="100">
                        </li>
                        <li>
                            <span>React</span> <progress title="60" value="60" max="100">
                        </li>
                        <li>
                            <span>Node</span> <progress title="60" value="60" max="100">
                        </li>
                        <li>
                            <span>Python</span> <progress title="45" value="45" max="100">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="resume_item education">
                <i class="fa fa_education"></i>
                <h3>教育背景</h3>
                <div class="item_content">
                    <p>大学 &nbsp;&nbsp;&nbsp; 2014-2018 &nbsp;&nbsp;&nbsp; 天津科技大学</p>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="resume_item experience">
                <i class="fa fa_experience"></i>
                <h3>项目经验</h3>
                <div class="item_content">
            
                    <div class="item_list">
                        <span class="list_time">2017.9-2017.10</span>
                        <span class="list_name">node 搭建个人网站</span>
                        <span class="list_address">天津</span>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

                

        </section>
        <!-- resume section end -->

        

        <!-- == footer content == -->
        <footer>
            <div class="contact_info">
                <div>电话 : 15022387010</div>
                <div>地址 : 天津市滨海新区</div>
                <div>邮箱 : levin1229@163.com</div>
            </div>
            <div class="footer-copyright">
                Copyright © 2017.Company name All rights reserved.
            </div>
        </footer>
        <!-- == footer content end == -->


        <script src="/javascripts/navbar.js"></script>
        <script src="/javascripts/about.js"></script>
</body>
</html>