<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>梁成军的个人网站 - Levinhax's Personal Website</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <div id="container">
        <header id="header" class="">
            <h3>梁成军的个人网站</h3>
            <h4>Levinhax's Personal Website</h4>
        </header><!-- /header -->
        <main>
            <span>&gt;&gt;</span>
            <ul>
                <li><a href="/blog">日志</a></li>/
                <li><a href="/project">作品</a></li>/
                <li><a href="/photo">相册</a></li>/
                <li><a href="/about">关于</a></li>
            </ul>
        </main>
        <footer>
            <ul>
                <li><a href="https://github.com/levinhax" target="_blank"><img src="/images/icons/favicon-github.png" alt="Github"></a></li>
                <li><a href="http://www.jianshu.com/u/63adfe13324c" target="_blank"><img src="/images/icons/favicon-jianshu.png" alt="简书"></a></li>
            </ul>
            <span>levinhax.com</span>
        </footer>
    </div>

    <div class="landscape"></div>
    <div class="filter"></div>
    <canvas id="canvas"></canvas>


    <script src="/javascripts/bg_canvas.js"></script>
</body>
</html>