<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="keywords" content="html5,响应式,作品展示,个人作品展示,作品展示网站,levinhax">
        <meta name="description" content="作品展示,个人作品展示,作品展示网站,levinhax,作品,网站,JavaScript,react,node,python,前端工程师">
        <title>Document</title>
        <link rel="icon" type="image/png" href="images/icons/icon.png">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/project.css">
        <link rel="stylesheet" type="text/css" href="css/responsive_base.css">
        <link rel="stylesheet" type="text/css" href="css/responsive_project.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- 导航栏 -->
        <nav class="navbar" id="navbar">
            <div class="nav-content">
                <div id="nav-header">
                    <a href="index.html">Levin</a>
                </div>
                <div id="menu-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="clearfix"></div>
                <ul id="menu-list">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="project.html">项目简介</a></li>
                    <li><a href="photography.html">相册</a></li>
                    <li><a href="resume.html">个人简介</a></li>
                    <li><a href="contact.html">联系方式</a></li>
                </ul>
            </div>
        </nav>
        <!-- 导航栏 end -->
        
        <!-- project section start -->
        <section class="project-section" id="project">
            <h2 class="project_title">PROJECT</h2>
            <div class="btns">
                <a href="javascript:;" class="btn btn-active">全部</a>
                <a href="javascript:;" class="btn">网站</a>
                <a href="javascript:;" class="btn">React</a>
                <a href="javascript:;" class="btn">Node</a>
                <a href="javascript:;" class="btn">Python</a>
                <a href="javascript:;" class="btn">其他</a>
            </div>
            <div class="project_content">
                
                    <div class="item item_website">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>网站</p>
                        </div>
                    </div>

                    <div class="item item_react">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>React Native</p>
                        </div>
                    </div>

                    <div class="item item_node">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>Node</p>
                        </div>
                    </div>

                    <div class="item item_python">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>Python</p>
                        </div>
                    </div>

                    <div class="item item_other">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>其他</p>
                        </div>
                    </div>

                    <div class="item item_website">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>网站</p>
                        </div>
                    </div>

                    <div class="item item_react">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>React</p>
                        </div>
                    </div>

                    <div class="item item_node">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>Node</p>
                        </div>
                    </div>

                    <div class="item item_python">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>Python</p>
                        </div>
                    </div>

                    <div class="item item_other">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>其他</p>
                        </div>
                    </div>

                    <div class="item item_website">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>网站</p>
                        </div>
                    </div>

                    <div class="item item_react">
                        <div class="item-img">
                            <img src="images/projects/2017042401.jpg" alt="project 01">
                        </div>
                        <a href="#" title="">
                            <i class="fa_link"></i>
                        </a>
                        <div class="item_caption">
                            <p>react native</p>
                        </div>
                    </div>
                
            </div>
        </section>
        <!-- portfolio section end -->
        
        
        
        <!-- == footer content == -->
        <footer>
            <div class="contact_info">
                <div class="list list_wechart">
                    <a href="javascript:;">
                        <!-- <img src="images/fa/wechart_log.png"> -->
                        <i class="fa fa_wechart"></i>
                    </a>
                </div>
                <div class="list list_qq">
                    <a href="javascript:;">
                        <!-- <img src="images/fa/QQ.png"> -->
                        <i class="fa fa_qq"></i>
                    </a>
                </div>
                <div class="list list_facebook">
                    <a href="javascript:;">
                        <!-- <img src="images/fa/facebook.png"> -->
                        <i class="fa fa_facebook"></i>
                    </a>
                </div>
            </div>
            <div class="contact_info2">
                <div>电话 : 15022387010</div>
                <div>地址 : 天津市滨海新区</div>
                <div>邮箱 : levin1229@163.com</div>
            </div>
            <div class="footer-copyright">
                Copyright © 2017.Company name All rights reserved.
            </div>
        </footer>
        <!-- == footer content end == -->
        <script src="js/navbar.js"></script>
        <script src="js/project.js"></script>
    </body>
</html>