/*body{
    background-image: url(../images/bg.jpg);
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: 0 0;       
    background-attachment: fixed;   
    background-origin: border-box;    
}*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.clearfix{
    display: inline-block;
   
    clear:both;
}
.hidden{
    display: none;
}



/* ===================== 导航栏部分 ======================== */
#navbar{
    width:100%;
    height: 48px;
    background-color: #202020;
    border:1px solid #101010;
    position: fixed;
    margin:0 auto;
    box-sizing: border-box;
    z-index: 99;
}
/*logo content*/
#nav-header{
    display: inline-block;
}
#nav-header a{
    font-size: 24px;
    font-weight: 400;
    color: #33CCFF;
    line-height: 48px;
    padding-left: 60px;
    text-decoration: none;
}
/*menu button*/
#menu-button{
    box-sizing: border-box;
    float:right;
    border:1px solid #333;
    border-radius: 5px;
    color: #fff;
    padding: 8px 10px 4px;
    margin-top: 5px;
    margin-right: 18px;
    display: none;
}
#menu-button:hover{
    cursor: pointer;
    background-color: #333;
}
#menu-button span{
    display: block;
    background-color: #fff;
    width:1.6rem;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;
}
/*menu list*/
#menu-list{
    float: right;
    margin-right: 24px;
}
#menu-list li{
    display: inline-block;
    float: left;
}
#menu-list li a{
    color: #aaa;
    font-size: 14px;
    display: inline-block;
    line-height: 48px;
    box-sizing: border-box;
    padding:0 20px;
    text-decoration: none;
    transition: color 0.2s ease-in;
}
#menu-list li a:hover{
    color:#fff;
}
#menu-list li.active a{
    background-color: #000;
}

/*footer content*/
footer{
    width: 100%;
    color: rgba(255,255,255,0.6);
    background-color: #000;
    position: relative;
    padding: 42px 0 0px;
    box-sizing: border-box;
}
footer .contact_info{
    width: 80%;
    margin: 0px auto;
    font-size: 14px;
}
footer .contact_info div{
    font-size: 1rem;
    display: inline-block;
    width: 30%;
    padding: 6px 0px;
    text-align: center;
}

footer .footer-copyright{
    width:100%;
    height: 60px;
    line-height: 60px;
    margin-top: 24px;
    background-color: #333;
    color: rgba(255,255,255,0.4);
    text-align: center;
}




@media screen and (max-width: 750px) {
    /*导航栏部分*/
/*menu button*/
#menu-button{
    display: block;
}
/*menu list*/
#menu-list{
    width:100%;
    height: auto;
    margin:-1px auto 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #101010;
    box-sizing: border-box;
}
#menu-list li{
    display: block;
    width: 100%;
}
#menu-list li a{
    width:100%;
    height: 36px;
    text-align: center;
    background-color: #202020;
    line-height: 36px;
    transition: color 0.2s ease-in;
}
#menu-list li a:hover{
    color:#fff;
}
#menu-list li.active a{
    background-color: #000;
}


/*footer content*/


footer .contact_info{
    width: 80%;
    margin: 0px auto;
    font-size: 14px;
}
footer .contact_info div{
    display: block;
    width:100%;
    padding: 3px 0px;
    text-align: center;
}

footer .footer-copyright{
    width:100%;
    height: 60px;
    line-height: 60px;
    margin-top: 24px;
    background-color: #333;
    color: rgba(255,255,255,0.4);
    text-align: center;
}

}






