html,body{
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom,#000000 0%,#5788fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#5788fe',GradientType=0 ); 
}
#container{
    width: 560px;
    height: auto;
    color: #fefefe;
    background-color: rgba(0,0,0,0.1);
    padding: 6px 24px;
    border: 1px solid #5e5e5e;
    border-radius: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 148px;
    left: 50%;
    margin-left: -280px;
    z-index: 10;
}
#container header{
    width: 100%;
    height: 94px;
    text-align: center;
    border-bottom: 1px solid #fefefe;
}
#container header h3{
    font-size: 1.4rem;
    padding-top: 26px;
}
#container header h4{
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 8px;
}
#container main{
    width: 100%;
    height: 94px;
    font-size: 1rem;
    line-height: 94px;
    border-bottom: 1px solid #fefefe;
}
#container main span{
    margin-left: 16px;
    font-size: 0.8rem;
}
#container main ul{
    display: inline-block;
}
#container main ul li{
    display: inline-block;
}
#container main a{
    color: #fefefe;
    font-size: 1rem;
    padding: 0 5px;
}
#container footer{
    margin-top: 12px;
    height: 26px;
    position: relative;
}
#container footer ul{
    position: absolute;
    right: 104px;
    top: 0;
    display: inline-block;
}
#container footer ul li{
    display: inline-block;
    margin-right: 8px;
}
#container footer img{
    width: 20px;
    height: 20px;
}
#container footer span{
    font-size: 1rem;
    width: 84px;
    height: 20px;
    line-height: 20px;
    padding-left: 6px;
    border-left: 1px solid #fefefe;
    position: absolute;
    right: 12px;
}


/*手机端*/
@media screen and (max-width: 440px){
    #container{
        width: 390px;
        top: 60px;
        margin-left: -195px;
    }
}



/*浮层*/
.filter{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fe5757;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;  /* 混合模式，该CSS属性作用是让元素内容和这个元素的背景以及下面的元素发生“混合” */ 
}
@keyframes colorChange {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
}

/*添加背景*/
.landscape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 260px;
    background-image: url(../images/bg.png);
    background-size: 100% 260px;
    background-repeat: none;
    background-position: center bottom;   
}