/*====================== Project Section ========================*/
.project-section{
    width:100%;
    background-color: #eee; 
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.project-section .project_title{
    color: #49C9DE;
    font-size: 36px;
    font-weight: 400;
    padding-top: 68px;
    text-align: center;
}

.project-section .btns{
    width: 370px;
    height: 36px;
    margin:26px auto 16px;
    padding: 0;
    border-top: 1px solid #49C9DE;
    border-bottom: 1px solid #49C9DE;
}

.project-section .btn{
    display: inline-block;
    padding: 0 12px;
    line-height: 36px;
    font-size: 14px;
    color: #002839;
}
.project-section .btns a:hover{
    background-color: #49C9DE;
}
/*.project-section .btns .btn-active{
    color: #49C9DE;
}*/

.project-section .project_content{
    width: 88%;
    box-sizing: border-box;
    border: 1px solid #eee;
    margin: 60px auto 0;
}

.project_content .item{
    display: inline-block;
    width: 24%;
    height: 320px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    transition: all 0.6s ease-in-out;
}
.project_content .item-img{
    width:100%;
    height: 270px;
    overflow: hidden;
}
.project_content .item-img img{
    width: 100%;
    height: 270px;
    transition: all 0.5s ease;
}
.project_content .item a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    position: absolute;
    top:0;
    transition: all 0.4s ease;
}
.project_content .item i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../images/fa/link.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left:48%;
    transition: all 0.4s ease;
}
.project_content .item_caption{
    display: inline-block;
    width:100%;
    height: 50px;
    background-color: #f6f7ff; 
}
.project_content .item_caption p{
    font-size: 14px;
    color: #101010;
    text-align: center;
    line-height: 24px;
    transition: all 0.6s ease;
}

.project_content .item:hover a{
    opacity: 0.8;
}
.project_content .item:hover img{
    transform: scale(1.1);
}
.project_content .item:hover .item_caption p{
    color: #49C9DE;
}


@media screen and (min-width: 750px) and (max-width: 960px) {
    /*====================== Project Section ========================*/

.project_content{
    width: 96%;
    padding-left: 4%;
}
.project_content .item{
    width: 46%;
    height: 300px;
}
.project_content .item-img{
    height: 260px;
}

.project_content img{
    height: 260px;
}


}




@media screen and (max-width: 750px) {

/*====================== Project Section ========================*/
.project_content{
    width: 100%;
}
.project_content .item{
    width: 100%;
    height: 320px;
}
.project_content .item-img{
    width:100%;
    height: 280px;
}

.project_content img{
    width:100%;
    height: 280px;
}

.project_content .item:hover img{
    transform: scale(1.1);
}
.project_content .item:hover .item_caption p{
    color: #49C9DE;
}



}
