#comments
  .comment_head
    h3 留言
    ul
      li
        a(href='/blog/login') 请先登录
      li
        a(href='') 注册
  .comment_list
    .user_avatar
      a(href='')
        img(src='/images/userAvatar/avatar.jpg', alt='用户头像')
    .list_content
      a.user_name(href='') userName
      br
      p
        | create at 
        span#time_comment 2017-09-23
      p.comment_content
        | 网景公司于1995年发布JavaScript;
        | ECMAScript 是标准, JavaScript是具体实现;
        | ES6 于2015.6发布
      a.reply(href='') ☚回复
          